    <form class="edit-meal">
      <input type="hidden" name="meal[id]" value="{{meal.id}}">
      <input name="meal[eaten_on]" type="date" class="input title" value="{{meal.eaten_on}}">
      <input name="meal[title]" type="text" placeholder="Meal Title" class="input title" value="{{meal.title}}">
      <textarea class="form-control" name="meal[description]" rows="3" placeholder="Describe your meal">{{meal.description}}</textarea>
      <h5>How did you feel? (On a scale from 1-10)</h5>
      <select class="form-control" name="meal[feeling]"  value="{{meal.feeling}}">
        <option {{feelingValue 1 meal.feeling}} value="1">1</option>
        <option {{feelingValue 2 meal.feeling}} value="2">2</option>
        <option {{feelingValue 3 meal.feeling}} value="3">3</option>
        <option {{feelingValue 4 meal.feeling}} value="4">4</option>
        <option {{feelingValue 5 meal.feeling}} value="5">5</option>
        <option {{feelingValue 6 meal.feeling}} value="6">6</option>
        <option {{feelingValue 7 meal.feeling}} value="7">7</option>
        <option {{feelingValue 8 meal.feeling}} value="8">8</option>
        <option {{feelingValue 9 meal.feeling}} value="9">9</option>
        <option {{feelingValue 10 meal.feeling}} value="10">10</option>
      </select>
      <button type='submit' id="edit-button" class="inputButton">Submit</button>
    </form>
