
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editMealModal-{{meal.id}}">
  Update this book.
</button>

<!-- Modal -->
  <div class="modal fade" id="editMealModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit A Meal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
          <div>
            <div class="container" >
              <div class="col-md-6" >
                <div id="logbox3"  >
                  <form id="edit-meal" data-meal="{{meal.id}}">
                    <!-- <input name="meal[id]" type="text" placeholder="Meal ID" class="input title" required="required"> -->
                    <input name="meal[eaten_on]" type="date" placeholder="Date" class="input title" value="{{meal.date}}" required="required">
                    <input name="meal[title]" type="text" placeholder="Meal Title" class="input title" value="{{meal.title}}" required="required">
                    <textarea class="form-control" name="meal[description]" rows="3" placeholder="Describe your meal"  value="{{meal.description}}" required="required"></textarea>
                    <h5>How did you feel? (On a scale from 1-10)</h5>
                    <select class="form-control" name="meal[feeling]"  value="{{meal.feeling}}" required="required">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                    <button type="submit" value="Submit Your Edit!" class="inputButton"></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
  </div>
</div>
