{{#each meals as |meal|}}

  <ul data-id="{{meal.id}}">
    <li>ID - {{meal.id}}</li>
    <li>Title - {{meal.title}}</li>
    <li>Date - {{ dateFormat meal.eaten_on }}</li>
    {{#if meal.description}}
      <li>Description - {{meal.description}}</li>
    {{else}}
      No description.
    {{/if}}
    <li>Feeling - {{ meal.feeling }}</li>

  </ul>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#removeMealModal">
    Remove Meal
  </button>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editMealModal">
    Edit Meal
  </button>

{{/each}}
