<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Descrtiption</th>
      <th>Feeling</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  {{#each meals as |meal|}}
    <tr>
      <td>{{meal.title}}</td>
      <td>{{meal.eaten_on}}</td>
      <td>{{meal.description}}</td>
      <td>{{meal.feeling}}</td>
      <td>
        <button class="meal-edit" data-mealId="{{meal.id}}" >Edit</button>
        <button class="meal-delete" data-mealId="{{meal.id}}">Delete</button>
      </td>
    </tr>
    {{/each}}
  </tbody>

</table>
